# ==================== RetailCRM ====================
RETAILCRM_SUBDOMAIN=dzharmakhan
RETAILCRM_API_KEY=твой_realtime_api_key_сюда

# ==================== Telegram ====================
BOT_TOKEN=твой_bot_token_сюда
CHAT_ID=твой_chat_id_сюда

# ==================== Supabase (если нужно) ====================
SUPABASE_URL=https://zwhhqkrghrlsmnmhmcbr.supabase.co
SUPABASE_KEY=твой_supabase_key_сюда
