# RetailCRM
RETAILCRM_SUBDOMAIN=dzharmakhan
RETAILCRM_API_KEY=ВАШ_RETAILCRM_API_KEY

# Telegram
BOT_TOKEN=ВАШ_BOT_TOKEN
CHAT_ID=ВАШ_CHAT_ID

# Supabase (если используешь)
SUPABASE_URL=https://...
SUPABASE_KEY=...
